.button {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    margin: 3.5rem 1rem;
    background-color: rgba(255, 255, 255, .5);
    color: rgb(50, 50, 50);
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s linear;
}

.button:hover {
    background-color: rgba(255, 255, 255, .8)
}