.select {
    width: 7rem;
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .5);   
    color:rgb(50, 50, 50); 
    padding-left: .5rem;
    margin-top: .3rem;
    transition: .3s linear;
}

.select:hover {
    background-color: rgba(255, 255, 255, .8);
}

.label {
    display: block;
    color: rgba(255, 255, 255, .7);
    font-size: .9rem;
}
