* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none;        
}

.container {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.theme-select {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
